.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}

h1{
    font-size: 3.5rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #6366f1;
}

p{
    text-align: center;
    font-size: 1rem;
    color: #030712;
    font-weight: 400;
}