.cs-message--outgoing .cs-message__content{
    background-color: #007bff;
    color: #fff;
}

.cs-message-input__content-editor-wrapper{
    background-color: #fff;
    border: #007bff 2px solid;
}

.cs-message-input__content-editor{
    color: #030712;
    background-color: #fff;
}

.cs-button--attachment,.cs-button--send{
    color: #007bff;
}