.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100vh;
  min-width: 250px; /* Expanded width */
  border: transparent;
  border-radius: 0px 2px 2px 0px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.3s ease; /* Smooth transition */
}

.sidebar.collapsed {
  min-width: 80px; /* Collapsed width */
}

.sidebar .tab {
  list-style: none;
  background-color: #0B57D0;
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex; /* Use flexbox */
  justify-content: flex-start; /* Left-align icons and text when expanded */
  align-items: center; /* Center items vertically */
  transition: opacity 0.3s ease;
}

.sidebar.collapsed .tab {
  justify-content: center; /* Center icons when collapsed */
}

.sidebar.collapsed .tab a {
  display: none; /* Hide text when collapsed */
}

.sidebar .tab a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  margin-left: 10px; /* Space between icon and text */
}

.icon {
  color: #fff; /* Icon color */
  font-size: 1.5em;
}

/* Toggle button at the bottom */
.toggle-button {
  background-color: #0B57D0;
  color: #fff;
  border: 1px solid #0B57D0;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: auto;
  font-size: 18px;
}

.sidebar .tab:hover {
  transform: scale(1.01);
}

.sidebar .tab.active {
  background-color: #fff;
  border-color: #0B57D0;
}

.sidebar .tab.active a {
  color: #0B57D0;
}

.sidebar .tab.active .icon {
  color: #0B57D0;
}